*{
  box-sizing: border-box;
  margin: 0px;
}


.fullPage{
  padding: 5px;
  /* border-radius: 20px; */
  background-color: #ffb347;
}

.headerStyle{
  display: flex;
  flex-direction: column;
  margin: 50px;
  background-color: #d25406;
  border-radius: 15px;
}

.headerStyle > *{
  flex-basis: 2rem;
}

.headerStyle h1{
  font-size: 70px;
  color: #ffffff;
  align-self: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.headerStyle p{
  font-size: 20px;
  color: #ffffff;
  align-self: center;
  font-family:'Times New Roman', Times, serif;
  padding: 20px;
}

.searchBar{
  position: absolute;
  left: 750px;
  top: 350px;
  width: 15%;
  padding: 10px;
  border: none;
  border-radius: 20px;
}

.submitButton{
  position: absolute;
  left: 1050px;
  top: 345px;
  background-color: #f3c52e;
  width: 200px;
  height: 40px;
  border-radius: 20px;
  border-color: #800101;
  font-size: 18px;
  font-family: 'Times New Roman', Times, serif;
}

button:hover{
  background-color: #ff8800;
  color: white;
  font-size: 18px;
  font-family: 'Times New Roman', Times, serif;
}

@media (min-width: 50px) and (max-width: 1500px) {
  .searchBar{
    position: absolute;
    left: 300px;
    top: 350px;
    width: 125px;
    padding: 10px;
    border: none;
    border-radius: 20px;
  }

  .submitButton{
    position: absolute;
    left: 450px;
    top: 345px;
    background-color: #e6c232;
    width: 100px;
    height: 40px;
    border-radius: 15px;
  }

}

.recipeStyle{
  display: flex;
  justify-content: center;
  align-items:center;
  flex-wrap: nowrap;
  flex-direction: column;
  border-radius: 20px;
  box-shadow: 0px 5px 20px rgb(24, 3, 50);
  margin: 200px;
  background: #f5842e;
}

.recipeStyle > * {
  flex-basis: 3rem;
}

.recipeStyle h1{
  font-size: 50px;
  color: #191825;
}

.recipeStyle ul{
  font-size: 20px;
  color: whitesmoke;
}

.recipeStyle p{
  font-size: 25px;
  font-weight: bolder;
  color: rgb(228, 223, 235);
  align-self: center;
}

.recipeStyle img{
  border-radius: 50%;
  width: 300px;
  height: 300px;
  margin-bottom: 10px;
}

/* #060047 */
